$primar-bgColor: rgb(248, 241, 241);
$second-bgColor: rgb(59, 59, 58);
$font-Color: rgb(75, 216, 56, 0.89);
$text-color: rgb(250, 245, 245);
$button-color: rgb(224, 55, 55);

.darkmode {
  --primar-bgColor: rgb(37, 36, 36);
  --second-bgColor: rgb(44, 43, 42);
  --font-Color: rgba(75, 216, 56, 0.89);
  --text-color: rgb(241, 236, 236);
  --button-color: red;
}

@mixin tablet-and-up() {
  @media only screen and (min-width: 600px) {
    @content;
  }
}
