@import "color.scss";
@import "font.scss";

* {
  padding: 0;
  margin: 0;
}

body {
  background-color: var(--primar-bgColor);
}

#theme-switch {
  height: 50px;
  width: 50px;
  padding: 0;
  border-radius: 10px;
  background-color: var(--font-Color);
  display: flex;
  justify-content: center;
  align-items: center;
  top: 20px;
  right: 20px;
}
#theme-switsch svg {
  fill: var(--button-color);
}

#theme-switch svg:last-child {
  display: none;
}

.darkmode #theme-switch svg:first-child {
  display: none;
}

.darkmode #theme-switch svg:last-child {
  display: block;
}

#app {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 12px;

  @include tablet-and-up() {
    margin-top: 4rem;
  }
}

.heading {
  &__title {
    color: var(--font-Color);
    font-family: "Rubik Scribble", sans-serif;
    margin-top: 2rem;
    @include textStyle(normal, 4rem);
  }
}

.joke {
  background-color: $second-bgColor;

  margin-top: 2rem;
  padding: 2rem;

  @include tablet-and-up() {
    margin-top: 4rem;
    width: 50%;
  }

  &__actuality--text {
    color: $text-color;
    text-align: left;
    font-family: "Inter", sans-serif;
    @include textStyle(normal, 1.2rem);
  }

  .joke__actuality--handling {
    display: flex;
    flex-direction: column;
    margin-top: 2.5rem;
    gap: 1rem;

    @include tablet-and-up() {
      flex-direction: row;
      text-align: center;
      justify-content: center;
    }
  }

  .joke__new-button {
    text-decoration: none;
    color: $font-Color;
    border: 1px solid $font-Color;
    background-color: $second-bgColor;
    text-align: center;
    padding: 1.2rem 2rem;
    border-radius: 5px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.2rem;
    transition: all 0.2s ease-in-out;

    @include tablet-and-up() {
      width: 195px;
      padding: 1rem;
    }
  }

  .joke__new-button:hover {
    background-color: darken($font-Color, 10);
  }

  .joke__save-button {
    text-decoration: none;
    color: $font-Color;
    border: 1px solid $font-Color;
    border-radius: 5px;
    padding: 1.2rem;
    padding-top: 1.2rem;
    font-family: Arial, Helvetica, sans-serif;
    display: inline-flex;
    justify-content: center;
    text-align: center;
    gap: 8px;
    font-size: 1.2rem;
    background-color: $second-bgColor;

    @include tablet-and-up() {
      width: 200px;
      padding: 1rem;
    }

    &--hidden {
      display: none;
    }

    .joke__handling--save-icon {
      width: 24px;
      height: 24px;

      @include tablet-and-up() {
        padding-top: 1px;
        width: 2vh;
        height: 2vh;
      }
    }
  }

  .joke__save-button:hover {
    background-color: $font-Color;
    color: $second-bgColor;
  }
}

.joke-save {
  @include tablet-and-up() {
    margin-top: 6rem;
  }

  &__heading {
    color: var(--text-color);
    font-family: "Rubik Scribble", sans-serif;
    @include textStyle(normal, 1.4rem);
    padding-top: 5rem;
    padding-bottom: 2rem;
  }
  &__list {
    display: flex;
    text-align: center;
    justify-content: space-between;
    color: var(--text-color);
    font-family: "Inter", sans-serif;
    @include textStyle(italic, 1.3rem);
    padding-top: 1rem;
    flex-direction: column;
    gap: 1rem;
    padding: 0.1rem;
    width: 100%;
    min-height: 80px;
  }
}

.joke-saves {
  display: flex;
  text-align: center;
  max-width: 950px;
  min-height: 80px;
  box-sizing: border-box;

  &__text {
    flex-direction: column;
    flex: 1;
    color: $text-color;
    font-family: "Inter", sans-serif;
    background-color: $second-bgColor;
    text-align: left;
    padding: 2rem;
    padding-top: 3rem;
    font-size: 1rem;
    border-radius: 3px;
    border: none;
    word-wrap: break-word;
  }

  &__delete {
    background-color: $second-bgColor;
    display: flex;
    text-align: center;
    justify-content: center;
    padding: 2rem;
    padding-top: 2.4rem;
    border: none;
    cursor: pointer;
    transition: 0.2s all ease-in-out;
  }

  &__delete--icon {
    background-color: $button-color;
    color: $text-color;
    padding: 10px;
    width: 25px;
    height: 25px;
    border-radius: 5px;

    &:hover {
      background-color: darken($button-color, 9);
    }
  }
}
